.card {
    margin: 10px;
}

img {
    width: 120px;
    height: 167px;
    border: 2px solid #8b3b3b;
    border-radius: 5px;
}

.name {
    color: #fff;
}

.Gryffindor {
    color: #a21213;
}

.Gryffindor img {
    border: 2px solid #a21213;
}

.Slytherin {
    color: #399c59;
}

.Slytherin img {
    border: 2px solid #399c59;
}

.Hufflepuff {
    color: #cbb06f;
}

.Hufflepuff img {
    border: 2px solid #cbb06f;
}

.Ravenclaw {
    color: #2871b6;
}

.Ravenclaw img {
    border: 2px solid #2871b6;
}

@media screen and (min-width: 443px) {
    img {
        width: 150px;
        height: 209px;
    }
}

@media screen and (min-width: 768px) {
    img {
        width: 230px;
        height: 320px;
    }
}