body, main, div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  background: linear-gradient(45deg, hsl(16, 10%, 19%), hsl(23, 30%, 30%), hsl(16, 10%, 19%));
  color: #fff;
  font-size: 1rem;
  font-weight: bolder;
  border: 2px solid hsl(16, 10%, 19%);
  border-radius: 10px;
  cursor: pointer;
  height: 50px;
  width: 200px;
  transition: 2ms;
}

button:hover {
  background-image: url("./gif-harry-potter.gif");
  color: #28242c;
  border: 2px solid #28242c;
}

.content {}