@import url('http://fonts.cdnfonts.com/css/harry-potter');

body {
  font-family: 'Harry Potter', sans-serif;
  margin: 0 auto;
  min-width: 320px;
  background-color: #28242c;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  justify-content: center;
}